<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-5">
      <h1 class="text-center">Produtos</h1>
      <p class="text-center lead">Cadastre novos produtos</p>

      <%- include('includes/messages') %>

        <form action="/cadastrar/produtos" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" name="nome">
        </div>
        <div class="form-group">
            <label>Descrição</label>
            <input type="text" class="form-control" name="descricao">
        </div>
        <div class="form-group">
            <label>Quantidade</label>
            <input type="number" class="form-control" name="quantidade">
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>   

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer')%>
